:root {
  --md-source: #ccd5ae;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #0c1300;
  --md-ref-palette-primary10: #161f00;
  --md-ref-palette-primary20: #273500;
  --md-ref-palette-primary25: #314100;
  --md-ref-palette-primary30: #3a4d00;
  --md-ref-palette-primary35: #445a00;
  --md-ref-palette-primary40: #4f6603;
  --md-ref-palette-primary50: #678020;
  --md-ref-palette-primary60: #809a39;
  --md-ref-palette-primary70: #9ab650;
  --md-ref-palette-primary80: #b5d269;
  --md-ref-palette-primary90: #d0ee82;
  --md-ref-palette-primary95: #defd8e;
  --md-ref-palette-primary98: #f3ffcc;
  --md-ref-palette-primary99: #faffe3;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #0d1302;
  --md-ref-palette-secondary10: #181e09;
  --md-ref-palette-secondary20: #2d331c;
  --md-ref-palette-secondary25: #383e26;
  --md-ref-palette-secondary30: #434931;
  --md-ref-palette-secondary35: #4f553c;
  --md-ref-palette-secondary40: #5b6147;
  --md-ref-palette-secondary50: #737a5e;
  --md-ref-palette-secondary60: #8d9476;
  --md-ref-palette-secondary70: #a8af90;
  --md-ref-palette-secondary80: #c3caaa;
  --md-ref-palette-secondary90: #dfe6c4;
  --md-ref-palette-secondary95: #edf4d2;
  --md-ref-palette-secondary98: #f6fdda;
  --md-ref-palette-secondary99: #faffe3;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001411;
  --md-ref-palette-tertiary10: #00201c;
  --md-ref-palette-tertiary20: #023731;
  --md-ref-palette-tertiary25: #12433c;
  --md-ref-palette-tertiary30: #204e47;
  --md-ref-palette-tertiary35: #2d5a53;
  --md-ref-palette-tertiary40: #39665f;
  --md-ref-palette-tertiary50: #527f77;
  --md-ref-palette-tertiary60: #6c9991;
  --md-ref-palette-tertiary70: #86b4ab;
  --md-ref-palette-tertiary80: #a1d0c7;
  --md-ref-palette-tertiary90: #bcece2;
  --md-ref-palette-tertiary95: #cafbf1;
  --md-ref-palette-tertiary98: #e5fff9;
  --md-ref-palette-tertiary99: #f2fffb;
  --md-ref-palette-tertiary100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #10110d;
  --md-ref-palette-neutral10: #1b1c17;
  --md-ref-palette-neutral20: #30312c;
  --md-ref-palette-neutral25: #3b3c36;
  --md-ref-palette-neutral30: #474741;
  --md-ref-palette-neutral35: #52534d;
  --md-ref-palette-neutral40: #5f5f59;
  --md-ref-palette-neutral50: #777771;
  --md-ref-palette-neutral60: #91918a;
  --md-ref-palette-neutral70: #acaba4;
  --md-ref-palette-neutral80: #c8c7bf;
  --md-ref-palette-neutral90: #e4e3db;
  --md-ref-palette-neutral95: #f2f1e9;
  --md-ref-palette-neutral98: #fbf9f1;
  --md-ref-palette-neutral99: #fefcf4;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0f1209;
  --md-ref-palette-neutral-variant10: #1a1d13;
  --md-ref-palette-neutral-variant20: #2f3227;
  --md-ref-palette-neutral-variant25: #3a3d31;
  --md-ref-palette-neutral-variant30: #45483c;
  --md-ref-palette-neutral-variant35: #515447;
  --md-ref-palette-neutral-variant40: #5d6053;
  --md-ref-palette-neutral-variant50: #76786b;
  --md-ref-palette-neutral-variant60: #909284;
  --md-ref-palette-neutral-variant70: #abac9e;
  --md-ref-palette-neutral-variant80: #c6c8b8;
  --md-ref-palette-neutral-variant90: #e2e4d4;
  --md-ref-palette-neutral-variant95: #f1f2e1;
  --md-ref-palette-neutral-variant98: #fafbea;
  --md-ref-palette-neutral-variant99: #fcfded;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #4f6603;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #d0ee82;
  --md-sys-color-on-primary-container-light: #161f00;
  --md-sys-color-primary-fixed-light: #d0ee82;
  --md-sys-color-on-primary-fixed-light: #161f00;
  --md-sys-color-primary-fixed-dim-light: #b5d269;
  --md-sys-color-on-primary-fixed-variant-light: #3a4d00;
  --md-sys-color-secondary-light: #5b6147;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #dfe6c4;
  --md-sys-color-on-secondary-container-light: #181e09;
  --md-sys-color-secondary-fixed-light: #dfe6c4;
  --md-sys-color-on-secondary-fixed-light: #181e09;
  --md-sys-color-secondary-fixed-dim-light: #c3caaa;
  --md-sys-color-on-secondary-fixed-variant-light: #434931;
  --md-sys-color-tertiary-light: #39665f;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #bcece2;
  --md-sys-color-on-tertiary-container-light: #00201c;
  --md-sys-color-tertiary-fixed-light: #bcece2;
  --md-sys-color-on-tertiary-fixed-light: #00201c;
  --md-sys-color-tertiary-fixed-dim-light: #a1d0c7;
  --md-sys-color-on-tertiary-fixed-variant-light: #204e47;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #76786b;
  --md-sys-color-background-light: #fefcf4;
  --md-sys-color-on-background-light: #1b1c17;
  --md-sys-color-surface-light: #fbf9f1;
  --md-sys-color-on-surface-light: #1b1c17;
  --md-sys-color-surface-variant-light: #e2e4d4;
  --md-sys-color-on-surface-variant-light: #45483c;
  --md-sys-color-inverse-surface-light: #30312c;
  --md-sys-color-inverse-on-surface-light: #f2f1e9;
  --md-sys-color-inverse-primary-light: #b5d269;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #4f6603;
  --md-sys-color-outline-variant-light: #c6c8b8;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #e4e3db;
  --md-sys-color-surface-container-high-light: #eae8e0;
  --md-sys-color-surface-container-light: #f0eee6;
  --md-sys-color-surface-container-low-light: #f5f4ec;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-bright-light: #fbf9f1;
  --md-sys-color-surface-dim-light: #dcdad2;
  /* dark */
  --md-sys-color-primary-dark: #b5d269;
  --md-sys-color-on-primary-dark: #273500;
  --md-sys-color-primary-container-dark: #3a4d00;
  --md-sys-color-on-primary-container-dark: #d0ee82;
  --md-sys-color-primary-fixed-dark: #d0ee82;
  --md-sys-color-on-primary-fixed-dark: #161f00;
  --md-sys-color-primary-fixed-dim-dark: #b5d269;
  --md-sys-color-on-primary-fixed-variant-dark: #3a4d00;
  --md-sys-color-secondary-dark: #c3caaa;
  --md-sys-color-on-secondary-dark: #2d331c;
  --md-sys-color-secondary-container-dark: #434931;
  --md-sys-color-on-secondary-container-dark: #dfe6c4;
  --md-sys-color-secondary-fixed-dark: #dfe6c4;
  --md-sys-color-on-secondary-fixed-dark: #181e09;
  --md-sys-color-secondary-fixed-dim-dark: #c3caaa;
  --md-sys-color-on-secondary-fixed-variant-dark: #434931;
  --md-sys-color-tertiary-dark: #a1d0c7;
  --md-sys-color-on-tertiary-dark: #023731;
  --md-sys-color-tertiary-container-dark: #204e47;
  --md-sys-color-on-tertiary-container-dark: #bcece2;
  --md-sys-color-tertiary-fixed-dark: #bcece2;
  --md-sys-color-on-tertiary-fixed-dark: #00201c;
  --md-sys-color-tertiary-fixed-dim-dark: #a1d0c7;
  --md-sys-color-on-tertiary-fixed-variant-dark: #204e47;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-outline-dark: #909284;
  --md-sys-color-background-dark: #1b1c17;
  --md-sys-color-on-background-dark: #e4e3db;
  --md-sys-color-surface-dark: #13140f;
  --md-sys-color-on-surface-dark: #c8c7bf;
  --md-sys-color-surface-variant-dark: #45483c;
  --md-sys-color-on-surface-variant-dark: #c6c8b8;
  --md-sys-color-inverse-surface-dark: #e4e3db;
  --md-sys-color-inverse-on-surface-dark: #1b1c17;
  --md-sys-color-inverse-primary-dark: #4f6603;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #b5d269;
  --md-sys-color-outline-variant-dark: #45483c;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #353530;
  --md-sys-color-surface-container-high-dark: #2a2a25;
  --md-sys-color-surface-container-dark: #1f201b;
  --md-sys-color-surface-container-low-dark: #1b1c17;
  --md-sys-color-surface-container-lowest-dark: #0e0f0a;
  --md-sys-color-surface-bright-dark: #393a34;
  --md-sys-color-surface-dim-dark: #13140f;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Rosario;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Rosario;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Rosario;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Rosario;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Rosario;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Rosario;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Rosario;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.5px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Rosario;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Rosario;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.4px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Rosario;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.1px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Rosario;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.5px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Rosario;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.5px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Rosario;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Rosario;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Rosario;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.1px;
}
