.spinner {
  animation: spin 2s infinite;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
